/* Header */
.header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: ;
}

/* Log Out button */
.logout-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

.login-form {
  display: flex;
  align-items: center;
  margin: 10px;
}

.input-field {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px; /* Add some space between inputs and the button */
  cursor: pointer;
}
